body {
  background-color: lightgrey;
}
.carre_1 {
  height: 100px;
  width: 100px;
  margin: auto;
  position: relative;
  left: 0px;
  top: 0px;
  color: white;
  line-height: 100px;
  text-align: center;
  font-size: 27pt;
  font-family: Helvetica Neue;
  font-weight: 100;
}

.c2 {
  background-color: #00bbff;
}
.c4 {
  background-color: #0099ff;
}
.c8 {
  background-color: #0066ff;
}
.c16 {
  background-color: #0033ff;
}

.c32 {
  background-color: #66ff00;
}
.c64 {
  background-color: #00ff00;
}
.c128 {
  background-color: #33cc00;
}
.c256 {
  background-color: #009900;
}

.c512 {
  background-color: #ffcc00;
}
.c1024 {
  background-color: #ff9900;
}
.c2048 {
  background-color: #ff6600;
}
.c4096 {
  background-color: #ff3300;
}

.c8192 {
  background-color: #cc66ff;
}
.c16384 {
  background-color: #cc00ff;
  font-size: 24pt;
}
.c32768 {
  background-color: #9900ff;
  font-size: 24pt;
}
.c65536 {
  background-color: #6600cc;
  font-size: 24pt;
}

#plateau {
  height: 500px;
  width: 500px;
  margin: auto;
  position: relative;
  top: 80px;
}
table {
  background-color: white;
  border-collapse: collapse;
  height: 500px;
  width: 500px;
}
td {
  border: 5px solid lightgrey;
  height: 110px;
  width: 110px;
}

@media only screen and (max-width: 520px) {
  #plateau {
    height: 400px;
    width: 400px;
  }
  table {
    height: 400px;
    width: 400px;
  }
  td {
    border-width: 5px;
    height: 80px;
    width: 80px;
  }
  .carre_1 {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 24pt;
  }
  .c16384 {
    font-size: 20pt;
  }
  .c32768 {
    font-size: 20pt;
  }
  .c65536 {
    font-size: 20pt;
  }
}

@media only screen and (max-width: 420px) {
  #plateau {
    height: 360px;
    width: 360px;
  }
  table {
    height: 360px;
    width: 360px;
  }
  td {
    border-width: 4px;
    height: 70px;
    width: 70px;
  }
  .carre_1 {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 20pt;
  }
  .c16384 {
    font-size: 16pt;
  }
  .c32768 {
    font-size: 16pt;
  }
  .c65536 {
    font-size: 16pt;
  }
}
